{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static '/home.css' %}">
        <script defer src="{% static '/js/script.js' %}"></script>
        <title>Salao</title>
        <meta property="og:url"                content="http://127.0.0.1:8080" />
        <meta property="og:type"               content="article" />
        <meta property="og:title"              content="Salão de beleza Thay Soares" />
        <meta property="og:description"        content="Meu salão de beleza" />
        <meta property="og:image"              content="http://127.0.0.1:8000" />
    </head>
    <body style="background-image: url('media/{{fotoFundo}}')">
        <header class="menu">
            <img class="btn" onclick="abrirMenu()" src="/static/images/social.png" alt="">
            <nav class="navbar">
                <a href="">HOME</a>
                <a href="#foto">FOTOS</a>
                <a href="#mainservico">SERVIÇOS</a>
                <a href="#promocao">PROMOÇÕES</a>
                <a href="#agenda">AGENDAMENTO</a>
                <a href="#contato">CONTATO</a>
            </nav>
        </header>
        <section class="pgInicial">
            <img class="logo" src="media/{{foto}}" alt="">
        </section>
        <main id="mainservico">
            <h1>Serviços</h1>

            <section id="servico">
                {% for dado in dados %}
                <section>
                    <article id="foto">
                        <img src="media/{{dado.upload}}">
                        <p>{{dado.servico}}</p>
                        <span>{{dado.descricao}}</span>
                    </article> 

                </section>
                {% endfor %}
        </main>
        </section>
            
        
        {%for pro in promo%}
        <section id="promocao" class="container">
            <div class="wall wall-{{pro.id}}" id="wall-{{pro.id}}">
            <div id="tituloPromo">
                <h1>PROMOÇÕES</h1>
                <img src="../static/images/promotion.png" alt="">
            </div>
            <div id="cardPromo">
                <div>
                    <p>{{pro.dataCriacao}} a {{pro.dataDuracao}}</p>
                    <h2>{{pro.tituloPromo}}</h2>
                    <div class="btns" id="btn">
                        <a class="button" href="#agenda">Agende</a>
                        <a class="button" href="">Mais...</a>
                    </div>
                    <p>Compartilhe para suas amigas</p>
                    <a id="whatsImg" href="https://api.whatsapp.com/send?1=pt_BR&phone={{telefone}}" target="_blank"><img src="../static/images/icons/png/003-whatsapp.png" alt="whatsapp"></a>
                </div>
                <div id="imgPromo">
                    <img id="imgParaWhats" src="/media/{{pro.imagemPromo}}" alt="">
                </div>
            </div>
            <div class="avancar">
                {% if pro.id > 1 %}
                    <a href="#wall-{{pro.id|add:'-1'}}"><img src="../static/images/voltar-seta-curvada.png" alt="Promoção Anterior"></a>
                       
                {%endif%}

                {% if pro.id < contPromo %}
                    <a href="#wall-{{pro.id|add:'+1'}}"><img src="../static/images/seta-avancada.png" alt="Proxima Promoção" onclick="esconderWall()" class="evento"></a>
                {% endif %}
            </div>
        </div>
        </section>
        
        {% endfor %}


        <section id="agenda">
            <h1>AGENDAMENTO</h1>
            <form id="form" method="POST" action="#agenda">{% csrf_token%}
                <div>
                    <input type="text"name="nome" placeholder="Seu nome..." required>
                </div>
                <div>
                    <input type="text" name="tel" placeholder="Telefone..." required>
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email...">
                </div>
                <div>
                    <input type="datetime-local" name="date" placeholder="Horario da sessão..." required>
                </div>
                <div>
                    <select name="servico" required>
                        <option value="" disabled selected>Serviço</option>
                        {% for dado in dados%}
                        <option value="{{dado.servico}}">{{dado.servico}}</option>
                        {%endfor%}
                    </select>
                </div>
                <button class="button">Marcar sessão</button>
                <p>{{msgConfirm}}</p>
            </form>
        </section>

        <section id="titulo">
            <section>
                <h1>Contato</h1>
            </section>
            <section id="contato">
                <nav>
                    <div id="frase">
                        <img src="/media/{{logo}}" alt="">
                        <h2>{{slogan}}</h2>
                        <span>{{nomeLugar}}</span>
                    </div>
                    <div>
                        <h3>
                            {{frase}}
                        </h3>
                    </div>
                </nav>
                <div class="info">
                    <div >
                        <a href="https://instagram.com/{{instagram}}/" target="_blank"><img src="../static/images/icons/png/002-instagram.png"alt="instagram"></a>
                        <p>Acesse nosso instagram</p>
                    </div>
                    <div >
                        <a href="https://api.whatsapp.com/send?1=pt_BR&phone={{telefone}}" target="_blank"><img src="../static/images/icons/png/003-whatsapp.png" alt="whatsapp"></a>
                        <p>{{telefone}}</p>
                    </div>
                    <div >
                        <a href="https://www.google.com.br/maps/place/R.+Pedro+Rodrigues+Pereira,+164+-+Jardim+Capelinha,+S%C3%A3o+Paulo+-+SP,+05850-260/@-23.656066,-46.7555413,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce53d0a7f59179:0x2bf6123c8989de79!8m2!3d-23.656066!4d-46.7533526" target="_blank"><img src="../static/images/icons/png/004-placeholder.png" alt="mapa"></a>
                        <p>{{endereco}}</p>
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>
