{% load static %}
<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static '/home.css' %}">
        <script defer src="{% static '/js/script.js' %}"></script>
        <title>Salao</title>
    </head>
    <body>
        <header class="menu">
            <img class="btn" onclick="abrirMenu()" src="/static/images/open-menu.png" alt="">
            <nav class="navbar">
                <a href="">HOME</a>
                <a href="#foto">FOTOS</a>
                <a href="">SERVIÇOS</a>
                <a href="">PROMOÇÕES</a>
                <a href="">AGENDAMENTO</a>
                <a href="">CONTATO</a>
            </nav>
        </header>
        <section class="pgInicial">
            <img class="logo" src="../static/images/thay2.jpeg" alt="">
        </section>
        <h1>Fotos</h1>

        <section class="foto">
            <article id="foto">
                <img src="../static/images/micro.jpeg">
                <div>  
                    <span>Henna</span>
                </div>
            </article>
            <article id="foto">
                <img src="../static/images/micro2.jpeg">
                <div>  
                    <span>Henna</span>
                </div>
            </article>
        </section>

    </body>
    </html>