body{
    margin: 0;
}

@media(max-width:500px ){
    .navbar{
        display: none;

    }
    .navbar a{
        color: white;
        text-decoration: none;
        padding: 12px 0;
        font-size: 1.2rem;

    }
   header{
       background-color: #555555;
       padding: 20px ;
       width: 50%;
       height: 22rem;
   }
   img{
       color: white;
      }
    .menu-toogle{
        display: flex;
        flex-direction: column;
    }
}