body{
    margin: 0;
    background-image: url("../static/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.btn{
    display: none;
}
.menu{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f7aae2;
    width: 100%;
    opacity: 0.8;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
}
.navbar a{
    text-decoration: none;
    padding: 12px 0;
    font-size: 1.0rem;
    color: black;
    font-family:sans-serif, Arial, Helvetica;
    font-style: italic;
    font-weight: bold;
}
.menu-off{
    display: none;
}
.pgInicial{
    display: flex;
    justify-content: flex-end;
}
.logo{
    padding: 20px;
    margin: 80px;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    border-color: black;
    border-bottom-style: solid;;
}

@media(max-width:500px){
    header{
        background-color: #f7aae2;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 6vh;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        position: static;
        margin: 0 -350px;
        width: 50%;
    }
    .navbar a{
        display: flex;
        color: black;
        background-color: #f7aae2;
        padding: 15px 30px;

    }
    .btn{
       display: flex;
       padding: 4px 30px;
    }
    .menu-toogle{
        margin: 0px;
        transition-delay: 250ms;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
    }
    .pgInicial{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 20rem;
        height: 20rem;
        padding: 0;
    }
}